@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cinzel&family=Rokkitt:wght@500&display=swap');

body {
  font-family: 'Rokkitt', serif;
}

#product-body {
  background-color: #ffff;
  ;
}


h6,
p,
span {}

.nav-links {
  /* position: absolute;
    right: 5em;
    display: flex;
    top: 14px; */
}

.show {
  /* display: contents; */
  display: flex !important;
}

.nav-link:hover {
  color: blueviolet !important;
}

.products {
  border-radius: 15px;
  width: 17em;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
}

.product-image {
  /* position: absolute;
  top: 0;
  left: 15%; */
}

.product-image img {
  width: 60%;
  position: absolute;
  top: 10%;
  left: 15%;
}

.product-desc {
  display: grid;
  align-items: end;
  padding: 0px;
}

.product-detail {
  text-align: center;
}

.product-card-top {
  padding: 0px 32px;
}

.book {
  background-color: #323232 !important;
  color: #fff;
  /* width: 18em; */
}

.cus-book-img {
  width: 55% !important;
}

.furniture {
  background-color: #FDC62E !important;
}

.dvd {
  background-color: #ebebeb !important;
}

.price,
.sku {
  font-family: 'Merriweather', serif;
  /* font-size: 20px; */
}

.price {
  font-size: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.show {
  display: contents
}

.hide {
  display: none;
}

.cus-footer {
  position: relative;
  bottom: 0;
}


/* Add Product Page */
.form-floating>label {
  font-size: 20px !important;
}

@media (min-width: 320px) {
  .products {
    width: 15em;
    height: 17em;
  }

  .product-image img {
    width: 60%;
    position: absolute;
    top: 12%;
    left: 25%;
  }

  .cus-book-img {
    width: 48% !important;
  }
}

@media (min-width: 375px) {
  .products {
    width: 17.5em;
  }

  .cus-book-img {
    width: 48% !important;
  }
}

@media (min-width: 425px) {
  .products {
    width: 21em;
  }

  .product-image img {
    width: 50%;
    top: 15%;
  }

  .cus-book-img {
    width: 40% !important;
  }
}

@media (min-width: 768px) {
  .products {
    width: 13em;
  }

  .cus-book-img {
    width: 60% !important;
  }

  .product-image img {
    width: 70%;
    top: 14%;
  }
}

@media (min-width: 1024px) {
  .products {
    width: 13.5em;
  }
  .cus-book-img {
    width: 55% !important;
}
.product-image img {
  width: 56%;
  top: 14%;
}
}

@media (min-width: 1200px) {
  .products {
    width: 17em;
    height: 17em;
  }
}