<div class="container">
  <div class="container d-flex header-below justify-content-between mt-5">
      <div>
          <h3>Product List</h3>
      </div>
      <div class="d-flex">
          <a routerLink="/add-product" class=" btn btn-primary text-light text-uppercase mx-4">ADD</a>
      <button class="btn btn-danger text-light text-uppercase"type="submit" (click)="deleteSelected()" >Mass Delete</button>
      </div>
  </div>
  <div  *ngIf="productData.length > 0" class="row mb-3">
      <div class=" col-md-4 mt-4 mb-3 mx-5 products card" *ngFor="let product of productData">
          <div class="mt-2">
              <input type="checkbox" (change)="getSelectedCheckBox(product.id)"  name="" class="delete-checkbox" id="">
          </div>
          <div class="card-body">
          <div class="text-center">
            <p class="card-text mb-2">SKU: {{product.sku}}</p>
              <h6 class="card-text mb-2">Name: {{product.product_name}}</h6>

              <div *ngIf="product.type == 'book'">
                <p class="card-text mb-2">Weight: {{product.weight}}KG</p>
            </div>

            <div *ngIf="product.type == 'furniture'">
                <p class="card-text mb-1">Dimension(cm): {{product.height}}x{{product.width}}x{{product.length}}</p>
            </div>

            <div *ngIf="product.type == 'dvd/cd'">
                <p class="card-text mb-2">Size: {{product.size}}MB</p>
            </div>

             </div>
          </div>
      </div>
  </div>

</div>
