<div class="container">
  <div class="container mb-5">
    <form #form="ngForm"
          (ngSubmit)="addProductForm(form)"
          id="product_form">

          <div class="container d-flex header-below justify-content-between mb-3 mt-5">
            <div>
              <h3>Product Add</h3>
            </div>
            <div class="d-flex">
              <button
                routerLink="/"
                class="fw-bold btn btn-outline-primary text-uppercase mx-4">Cancel
              </button>
              <button class="btn btn-success fw-bold text-light text-uppercase" type="submit" [disabled]="!form.valid">Save</button>
            </div>
          </div>

      <div class="form-floating mb-3">
        <input type="text"
        class="form-control"
        name="sku"
        #sku="ngModel"
        [(ngModel)]="model.sku"
        id="sku"
        required>
        <label for="floatingInput">SKU</label>

        <span class="text-danger" *ngIf="(sku.touched || form.submitted) && sku.errors?.['required']">
          SKU is required
        </span>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" #product="ngModel" [(ngModel)]="model.product_name" name="pName" required
          id="name">
        <label for="floatingInput">Product name</label>
        <span class="text-danger" *ngIf="(product.touched || form.submitted) && product.errors?.['required']">
          Product name is required
        </span>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" #price="ngModel" [(ngModel)]="model.price" name="price" required id="price">
        <label for="floatingInput">Price</label>
        <span class="text-danger" *ngIf="(price.touched || form.submitted) && price.errors?.['required']">
          Price is required
        </span>
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" [(ngModel)]="model.type" name="type"  id="productType"
          aria-label="Floating label select example">
          <option selected>Select Type</option>
          <option [value]="data" *ngFor="let data of type">{{ data }}</option>
        </select>
        <label for="floatingSelect">Type</label>
      </div>

      <div *ngIf="model.type === 'DVD'" class="mb-3">
        <div class="mb-3">
          <span class="text-danger">
            <i class='bx bxs-error-circle'></i> Please provide size in MB
          </span>
        </div>
        <div id="dvd" class="form-floating mb-3">
          <input type="text" class="form-control" #size="ngModel" [(ngModel)]="model.size" name="size" required  id="size">
          <label for="floatingInput">Size (MB)</label>
          <span class="text-danger" *ngIf="(size.touched || form.submitted) && size.errors?.['required']">
            Size is required
          </span>
        </div>
      </div>

      <div id="furniture" *ngIf="model.type === 'Furniture'" class="mb-3">

        <div class="">
          <span class="text-danger">
            <i class='bx bxs-error-circle'></i> Please provide dimensions in <span>H * W * L</span> format
          </span>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" #height="ngModel" [(ngModel)]="model.height" name="height" required id="height">
          <label for="floatingInput">Height (CM)</label>
          <span class="text-danger" *ngIf="(height.touched || form.submitted) && height.errors?.['required']">
            Height is required
          </span>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" #width="ngModel" [(ngModel)]="model.width" name="width" required id="width">
          <label for="floatingInput">Width (CM)</label>
          <span class="text-danger" *ngIf="(width.touched || form.submitted) && width.errors?.['required']">
            Width is required
          </span>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" #length="ngModel" [(ngModel)]="model.length" name="length" required id="length">
          <label for="floatingInput">Length (CM)</label>
          <span class="text-danger" *ngIf="(length.touched || form.submitted) && length.errors?.['required']">
            Length is required
          </span>
        </div>
      </div>

      <div class="mb-5" *ngIf="model.type === 'Book'">
        <div class="mb-3">
          <span class="text-danger">
            <i class='bx bxs-error-circle'></i> Please provide weight in KG
          </span>
        </div>
        <div id="book" class="form-floating mb-3">
          <input type="text" class="form-control" #weight="ngModel" [(ngModel)]="model.weight" name="weight" required id="weight">
          <label for="floatingInput">Weight (KG)</label>
          <span class="text-danger" *ngIf="(weight.touched || form.submitted) && weight.errors?.['required']">
            Weight is required
          </span>
        </div>
      </div>

      <!-- <button class="btn btn-success fw-bold text-light text-uppercase" type="submit" [disabled]="!form.valid">Save</button> -->

    </form>
  </div>
</div>


<!-- <button class="btn btn-primary" (click)="testAdd()">test</button> -->
